*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: whitesmoke;
  /* background-image: url('./Images/bgimg.jpg'); */
  /* position: relative; */
  /* height: 100vh; */
}
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
